{% extends "auctions/layout.html" %}

{% load static %}

{% if user.is_authenticated %}
    {% block body %}
        <h1 style="text-align: center;">{{ listing.item }}</h1>
        <br>
        <br>
        <hr>
        <ul style="font-size: large;">
            <img  style="display: inline-block;" id="list" src = "{{ listing.image }}" alt = "{{ listing.item }}">
            <div style="display: inline-block;">
                <li><b>Description</b> : {{ listing.description }}</li>
                <li><b>Starting Bid</b> : {{ listing.start_bid }}</li>
                <li><b>Current Bid</b> : {{ listing.current_bid.bid }}</li>
                <li><b>Seller</b> : {{ listing.seller }}</li>
                <li><b>Category</b> : {{ listing.get_category_display }}</li>
                {% if listing.status %}
                <li><b>Status</b> : Active</li>
                {% else %}
                <li><b>Status</b> : Closed</li>
                {% endif %}
                <br>
                <br>
                <li>
                    <b>Comments:</b>
                    <ul>
                        {% for comment in comments %}
                            <li>{{ comment.comment }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
            <div style="display: inline-block;" id="function">
                {% if is_active  %}
                    {% if user != listing.seller %}
                        <form action = "{% url 'item'  listing.item %}" method="post">
                            {% csrf_token %}
                            {% if is_watchlist %}
                                <input type="radio" name="watchlist" value="true">
                                <label for="watchlist">Remove From watchlist</label><br>
                            {% else %}
                                <input type="radio" name="watchlist" value="true">
                                <label for="watchlist">Add to watchlist</label><br>
                            {% endif %}
                            <div style="display: inline;" id="comment">
                                <h2>Add a comment : </h2>
                                <textarea name="comment"></textarea>
                            </div>
                            <div style="display: inline;" id="bid">
                                <h2>Place a Bid  : </h2>
                                <input type="number" placeholder="bid" name="bid" min="{{ listing.start_bid }}">
                            </div>
                            <br>
                            <br>
                            <input class="sv" type="submit" value="Submit">
                        </form>
                    {% else %}
                        <form action = "{% url 'item'  listing.item %}" method="post">
                            {% csrf_token %}
                            <input class="sv" type="submit" value="Close The Listing" name="close">
                        </form>
                    {% endif %}
                {% else %}
                    {% if winner == user %}
                        <h1>You won the auction</h1>
                    {% endif %}
                {% endif %}
            </div>
        </ul>
    {% endblock %}
{% endif %}